<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="Url" value="http://localhost:80/"/>
    <add key="ApiKey" value="API-VM2N2KZUM4NRKFZNWIUYDSVFMRK"/>
    <add key="Projects" value="TestProject"/>
    <add key="MachineCopy" value="JohnnyMachine"/>
    <add key="MachinePaste" value="JohnnyMachine"/>
  </appSettings>
</configuration>